* {
    padding: 0;
    margin: 0;
    border: 0;
} /*за допомогою данної функції ми скидуємо всі кордони які задаються браузером автоматично*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} /*дане значення зміню підрахунок ширини блоку так щоб нам було зручно знею працювати*/

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
} /*дана функція прибирає лінії обводки в деяких браузерах*/

nav,
footer,
header,
aside {
    display: block;
} /*Робимо блочними данні теги nav, footer, header, aside*/

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -mos-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
} /*Дані параметри задають рівні умови для поведінки шрифтів, наприклад самовільне збільшення шрифтів на iphone*/

input,
button,
textarea {
    font-family: inherit;
} /*команда для наслідування сімейства шрифтів*/

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
} /*прибирають деякі особливості в різних браузерах*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* обнулення */
body{
    font-family: 'Open Sans'
}


// fixed header============================================

.fixed{
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0;
}
.fixed .header__logo{
    margin: 15px 0 15px 43px;
    transition: 0.5s ease;
}
.fixed .header__items{
    margin: 15px 38px 15px 0px;
    transition: 0.5s ease;
}


// fixed header============================================

.header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    background: rgb(255, 252, 252);
    z-index: 1000;
    box-shadow: 4px 4px 3px rgb(192, 192, 192);

		&__logo {
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            text-transform: uppercase;
            color: #849BFF;
            margin: 29px 0 25px 43px;

            transition: 0.3s ease;
		}

		&__items {
            margin: 26px 38px 38px 0;

            transition: 0.3s ease;
		}

		&__home {
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            text-align: center;
            color: #849BFF;
            margin-right: 90px;
            
		}

        &__list {
            background: rgb(255, 255, 255);
            width: 172px;
            border: 0;
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            text-align: right;
            padding-right: 30px;
            color: #849BFF;
            appearance: none;
            background: url(../../assets/img/arrow.png) 145px 3px no-repeat ;
            & option{
                font-size: 15px;
            }
        }
        
        
}

@media (max-width:633px) {
    .header__home{
        display: none;
    }
    .header__logo{
        font-size: 16px;
        line-height: 22px; 
        margin: 19px 22px; 
    }
    .header__items{
        margin: 0;
    }
    .header__list{
        font-size: 14px;
        line-height: 19px;
        padding-right: 18px;
        background: url(../../assets/img/arrow-small.png) 86px 3px no-repeat ;
            
        
    }
    .header__language{
        &::after{
            content: '';
            width: 10px;
            height: 10px;
            margin: 0 0 -8px 0;
            padding:0 25px 20px 0;
            background-size: 16px 16px;
        }
    }
    .header__list{
        width: 100px;
    }
    .header{
        align-items: center;
    }

    
}