.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 125px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__email {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #14263C;
  margin-right: 100px;
}

.contacts__social {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #14263C;
}

.social__titel {
  margin-right: 25px;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item .social__icon {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.social__item:hover .social__icon {
  fill: #5b678a;
  -webkit-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

svg {
  width: 35px;
  height: 35px;
}

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.application__app {
  background: #000;
  margin-right: 10px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
  height: 54px;
}

.application__block-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__img-app {
  width: 30px;
  height: 31px;
  margin-left: 2px;
}

.application__text-app {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
}

.application__google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  border-radius: 7px;
  width: 148px;
  height: 54px;
}

.application__block-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__img-google {
  width: 30px;
  height: 33px;
  margin: 7px 10px;
}

.application__text-google {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-right: 15px;
  margin-bottom: 0;
}

.application__app {
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

.application__app:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform  ease 0.2s;
  transition: -webkit-transform  ease 0.2s;
  transition: transform  ease 0.2s;
  transition: transform  ease 0.2s, -webkit-transform  ease 0.2s;
}

.application__google {
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

.application__google:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

@media (max-width: 1000px) {
  .footer {
    padding-top: 100px;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__email {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .application {
    margin-bottom: 20px;
  }
}

@media (max-width: 675px) {
  .application {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application__app {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding-top: 50px;
  }
  .contacts__email {
    font-size: 12px;
    line-height: 16px;
  }
  .contacts__social {
    font-size: 12px;
    line-height: 16px;
  }
  .social__item symbol {
    height: 20px;
    width: 20px;
  }
  svg {
    width: 20px;
  }
  .social__titel {
    margin-right: 15px;
  }
  .social__item {
    margin-right: 10px;
  }
  .application {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application__app {
    background: #000;
    margin: 0 0px 10px 0px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 86px;
    height: 32px;
  }
  .application__block-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application__img-app {
    width: 15px;
    height: 18px;
    margin-left: 5px;
  }
  .application__text-app {
    font-weight: 400;
    font-size: 8px;
    line-height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .application__google {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000;
    border-radius: 5px;
    width: 86px;
    height: 32px;
    margin-right: 0px;
    margin-top: 0;
  }
  .application__block-google {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application__img-google {
    width: 15px;
    height: 16px;
    margin: 3px 5px;
  }
  .application__text-google {
    font-weight: 400;
    font-size: 8px;
    line-height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-right: 15px;
  }
}
