<div class="speaker">

    <div class="speaker__photo  photo wow animate__animated animate__fadeIn">
        <img src="../../assets/img/two-mobile1.png" alt="">

    </div>

    <div class="speaker__text text wow animate__animated animate__fadeInDown">
        <h2 class="text__title">Free chats with
            native speakers
        </h2>
        <ul class="text__list">
            <li>
                <div class="text__item"><b>A laid back approach</b> to learning foreign languages.
                </div>
            </li>
            <li>
                <div class="text__item"><b>Freedom</b> to chat about a variety of subjects.</div>
            </li>
            <li>
                <div class="text__item">Language practice in a <b>stress-free environment</b>.</div>
            </li>
        </ul>
    </div>

</div>