<div class="flashcards">

    <div class="flashcards__text text wow animate__animated animate__fadeInDown">
        <h2 class="text__title">Smart flashcards
        </h2>
        <ul class="text__list">
            <li>
                <div class="text__item">Use smart flashcards based on the principles of <b>rote and memorization</b>
                </div>
            </li>
            <li>
                <div class="text__item">Discover <b>new categories of words </b>with each level.
                </div>
            </li>
            <li>
                <div class="text__item">Create <b>your own dictionary </b>of learned words.</div>
            </li>
        </ul>
    </div>

    <div class="flashcards__photo photo wow animate__animated animate__fadeIn">
        <img class="photo__image" src="../../assets/img/three-mobile.png" alt="">

    </div>

</div>