<div class="gallery">
    <div class="gallery__items items">
        <h2 class="items__title wow animate__animated animate__fadeInDown">Learning shouldn’t be boring
        </h2>
        <div class="items__photo photo">

            <img class="photo__one wow animate__animated animate__fadeIn" src="../../assets/img/gallery-1.png" alt="">

            <img class="photo__two wow animate__animated animate__fadeIn" src="../../assets/img/gallery-2.png" alt="">

            <img class="photo__three wow animate__animated animate__fadeIn" src="../../assets/img/gallery-3.png" alt="">

            <img class="photo__four wow animate__animated animate__fadeIn" src="../../assets/img/gallery-4.png" alt="">

        </div>
    </div>

</div>