@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*за допомогою данної функції ми скидуємо всі кордони які задаються браузером автоматично*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*дане значення зміню підрахунок ширини блоку так щоб нам було зручно знею працювати*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*дана функція прибирає лінії обводки в деяких браузерах*/
nav,
footer,
header,
aside {
  display: block;
}

/*Робимо блочними данні теги nav, footer, header, aside*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Дані параметри задають рівні умови для поведінки шрифтів, наприклад самовільне збільшення шрифтів на iphone*/
input,
button,
textarea {
  font-family: inherit;
}

/*команда для наслідування сімейства шрифтів*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*прибирають деякі особливості в різних браузерах*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнулення */
body {
  font-family: 'Open Sans';
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

.items__title {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.photo__one {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.photo__two {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.photo__three {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.photo__four {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.gallery {
  padding-top: 68px;
  padding-bottom: 61px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 57px;
  color: #000000;
}

.items__photo img {
  margin-right: 40px;
}

.items__photo img:last-child {
  margin-right: 0;
}

.photo {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1383px) {
  .photo img {
    height: 25%;
    width: 25%;
  }
  .items__photo img {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .items__title {
    font-size: 16px;
    line-height: 22px;
  }
  .gallery {
    padding: 17px 0;
  }
  .items__title {
    margin-bottom: 26px;
  }
  .photo {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo img {
    height: 193px;
    width: 150px;
  }
  .photo__two {
    display: none;
  }
  .photo__three {
    display: none;
  }
  .items__photo img {
    margin-right: 14px;
  }
}

@media (max-width: 360px) {
  .items__photo img {
    margin-right: 0px;
  }
}
