<!-- <div class="container"> -->
<div class="try ">
    <div class="try__text text">
        <h1 class=" text__title wow animate__animated animate__fadeInDown">Trying to learn a foreign language?
        </h1>
        <p class="text__subtitle wow animate__animated animate__fadeInDown">Make learning a fun part of your daily
            routine
            at the touch of a button.</p>


        <div class="text__application application wow animate__animated animate__fadeIn">

            <a class="application__app" href="#">
                <div class="application__block-app">
                    <img class="application__img-app" src="../../assets/img/apple.png" alt="">
                    <p class="application__text-app">
                        Download on the
                        App Store
                    </p>
                </div>
            </a>


            <a class="application__google" href="#">
                <div class="application__block-google">
                    <img class="application__img-google" src="../../assets/img/google-play.png" alt="">
                    <p class="application__text-google">
                        Get it on
                        Google play
                    </p>
                </div>
            </a>
        </div>
    </div>


    <div class="try__photo photo wow animate__animated animate__fadeIn">
        <img class="photo__image" src="../../assets/img/girl-circle.png" alt="">
    </div>
</div>
<!-- </div> -->