<div class="subscribe">
    <div class="subscribe__text text wow animate__animated animate__fadeInDown">
        <h2 class="text__title">Subscribe to our newsletter</h2>
        <div class="text__subtitle">We recommend you to subscribe to our newsletter, drop
            your email below to get update about us</div>
    </div>
    <div class="subscribe__forms forms wow animate__animated animate__fadeIn">
        <form class="forms__form" action="" method="get">
            <input class="forms__input" type="text" placeholder="Enter your email adress">
            <button class="forms__button">Subscribe</button>
        </form>

    </div>
</div>