<div class="memes">

    <div class="memes__photo photo wow animate__animated animate__fadeIn">
        <img class="photo__one" src="../../assets/img/mobile-memes.png" alt="">
        <img class="photo__two" src="../../assets/img/memes.png" alt="">

    </div>

    <div class="memes__text text wow animate__animated animate__fadeInDown">
        <h2 class="text__title">Learn a foreign language with memes
        </h2>
        <ul class="text__list">
            <li>
                <div class="text__item">Knowledge of Internet culture greatly facilitates communication with modern
                    native speakers.
                </div>
            </li>
            <li>
                <div class="text__item">Charge yourself and your friends with positivity.
                </div>
            </li>

        </ul>
    </div>



</div>